@model Program

@{
    ViewData["Title"] = "Add News";
}

<h1>Add News</h1>

<h4>Program</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="add_news" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label for="Head_news" class="form-label">News Headline:</label>
                <input type="text" name="Head_news" class="form-control" required />
            </div>

            <div class="form-group mb-3">
                <label for="NewsPics" class="form-label">Upload your pictures:</label>
                <input type="file" id="NewsPics" name="NewsPics" class="form-control" accept=".jpg,.jpeg,.png" multiple>
                <div id="image-preview" class="mt-2 d-flex flex-wrap"></div>
            </div>

            <div class="form-group mb-3">
                <label for="comments" class="form-label">News Details:</label>
                <textarea name="comments" rows="10" class="form-control" placeholder="Enter detail of News..."></textarea>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
 
}